<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @job.address1 %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @job.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @job.longitude %>
</p>

<p>
  <strong>Getter:</strong>
  <%= @job.getter_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
