<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @job.address1 %>
</p>

<p>
  <strong>Lat1:</strong>
  <%= @job.lat1 %>
</p>

<p>
  <strong>Long1:</strong>
  <%= @job.long1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @job.address2 %>
</p>

<p>
  <strong>Lat2:</strong>
  <%= @job.lat2 %>
</p>

<p>
  <strong>Long2:</strong>
  <%= @job.long2 %>
</p>

<p>
  <strong>Getter:</strong>
  <%= @job.getter_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
